aside {
    width: 280px;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #0d6efd;
    transition: 0.4s
}

.nav-link:hover::after {
    width: 100%
}