.productCarousel {
    margin-inline: auto;
    width: clamp(100px, 200px, 100%);
}

.productCarousel img {
    width: 200px;
    object-fit: contain;
}

.container-images {

    .card-images {
        max-height: 100px;
        position: relative;
        justify-content: center;
        display: flex;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: contain;
        }
        span {
            cursor: pointer;
            position: absolute;
            top: 0px;
            right: 5px;
            opacity: 0.6;
            transition: all 0.25s;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.import {
    margin: 0.5rem 0.5rem 0 0;
    padding: 1.5rem;
    width: auto !important;
    display: inline-block;
    position: relative;
    span {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: 10px;
        opacity: 0.6;
        transition: all 0.25s;
        &:hover {
            opacity: 1;
        }
    }
}

.image-preview {
    max-height: 100px;
    object-fit: contain;
}
