.cardDrone {
    display: flex;
    flex-direction: column;
    .card-image {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #f3f3f3;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            aspect-ratio: 16 / 9;
        }
    }
}

.droneList {
    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    .card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.mini {
    .card-image {
        img {
            aspect-ratio: 16 / 9;
        }
    }
}